source https://api.nuget.org/v3/index.json

nuget FluentValidation
nuget Microsoft.AspNetCore.Hosting
nuget Microsoft.AspNetCore.Http.Abstractions
nuget Microsoft.AspNetCore.Mvc.Abstractions
nuget Microsoft.AspNetCore.Mvc.Core
nuget Microsoft.Extensions.DependencyInjection.Abstractions
nuget Microsoft.NET.Test.Sdk
nuget NUnit
nuget NUnit3TestAdapter